<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner ">
        <div class="page-logo col-md-3">
            <a routerLink="/dashboard">
                <img src="/public/images/logo.png" alt="logo" class="logo-default">
            </a>
            <!--<div class="menu-toggler sidebar-toggler side-bar-toggle-menu" title="Sidebar Menu"><span></span></div>-->
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler menua" data-toggle="collapse"
           data-target=".navbar-collapse"><span></span></a>

    </div>
</div>
<div class="clearfix small-menu-bck"></div>
